<!DOCTYPE html>
<html>
  <body>
  	<h2>Hi, please be patient and wait for 3-4s to let your broswer to loacte you.</h2>
    <div id="map"></div>
    <div id="place-info-wrapper">
      <div id="hero-header-wrapper"><img></img></div>
      <div id="place-basic-info-wrapper">
        <div id="place-basic-info">
          <div class="place-name info-text"></div>
          <div class="place-review-score info-text"></div>
          <div class="place-type info-text"></div>
        </div>
      </div>
    </div>
    <link rel="stylesheet" type="text/css" href="mymap/css/mymap.css">
    <script type="text/javascript" src="mymap/js/jquery.js"></script>
    <script type="text/javascript" src="mymap/js/underscore.js"></script>
    <script 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnjHGp7ASdYvTQhDRG2otqpH78Y95yS2Q&libraries=places">
    </script>
    <script type="text/javascript" src="mymap/js/mymap.js"></script>
  </body>
</html>
